.wrap_upload {
    position: relative;
    text-align: center;
    width: 390px;
    margin: 0 auto;
    padding: 20px 16px 16px;
}

.cont_content {
    display: flex;
    align-items: flex-start;
}

.text_upload {
    border: none;
    resize: none;
    margin-top: 12px;
    margin-left: 13px;
}

.text_upload:focus {
    outline: none;
}

.btn_upload {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    bottom: 0;
    right: 0;
    margin: 0 16px 16px 0;
    cursor: pointer;
}
