/* commentList 
 * 하트, 댓글 이미지 가져오고 글자 크기 조절해야함
 * 댓글 내용 해야함
 */
.box_comment {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 0 auto;
    padding: 16px;
    /*border-radius: 7px;*/
    /*box-shadow: 0px 0px 5px 1px rgb(76 76 76 / 20%);*/
}

.cont_comment {
    display: flex;
    flex-direction: column;
}

.cont_tit {
    display: flex;
    margin: 6px 0 16px;
}

.p_comment_name {
    margin-right: 6px;
}

.btn_plus {
    position: absolute;
    right: 0;
}

/* commentInput
 * 개시버튼 해야함
 */
.box_commentInput {
    display: flex;
    margin: 13px 0 13px 0; 
    width: 390px;
}

.inp_comment {
    border:0;
    margin-left: 16px;
    flex-grow: 1;
}

.btn_commentInput {
    flex-grow: 0;
    cursor: pointer;
}