.cont_profile {
    padding: 60px 0px;
    text-align: center;
    width: 390px;
    margin: 0 auto;
}

.p_warning {
    font-size: 12px;
    width: 322px;
    margin: -25px auto 15px;
    text-align: left;
    color: #EB5757;
}