.cont_signup {
    text-align: center;
    width: 390px;
    margin: 0 auto;
}

.tit_signup {
    padding-top: 60px;
    font-size: 24px;
}

.label_signup {
    display: block;
    color: #767676;
    text-align: left;
    width: 322px;
    margin: 0 auto;
}

.form_signup {
    margin-top: 50px;
}

.input_signup {
    width: 322px;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1px;
    margin: 10px 0 30px 0;
}

.btn_signup {
    display: block;
    margin: 10px auto 20px;
    width: 322px;
    border: 1px solid #0f0b19;
    border-radius: 25px;
    padding: 10px 0px;
    cursor: pointer;
}