.box_profile_post,
.box_profile_list {
    border-radius: 50%;
}

.box_profile_post {
    width: 42px;
    height: 42px;
}

.box_profile_list {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile_img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
}

