.box_profile_post,
.box_profile_list {
    border-radius: 50%;
}

.box_profile_post {
    width: 42px;
    height: 42px;
}

.box_profile_list {
    width: 50px;
    height: 50px;
}

.profile_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

