:root {
    --text-accent-color: #000000;
    --solid-color: #DBDBDB;
    --devery-main-color: #0F0B19;
    --text-default-color: #767676;
}

.ir {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
 }


.scroll_cont {
    position: fixed;
    right: 3%;
    bottom: 9%;
    z-index: 1;

}

.top_btn {
    background-color:#dbdbdb;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    width: 50px;
    height: 50px;

}

.top_btn:hover{
    cursor: pointer;
    color: #000;
}

.top_btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.top_btn:active {
    top: 2px;
}

