/* 삭제 예정 */

.cont_home {
    text-align: center;
    width: 390px;
    margin: 0 auto;
}

.img_bulbBlack {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 268px;
}

.txt_user {
    font-size: 14px;
    color: #767676;
    margin-top: 20px;
}

.searchBtn {
    display: block;
    margin: 20px auto 20px;
    width: 120px;
    background-color: #0f0b19;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px 0px;
    cursor: pointer;
}
